.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  font-size: var(--font-size-subdescription);
  background-color: #fff;
  padding: 4rem 2.4rem;
  gap: 2rem;
  border-radius: var(--font-size-borderRadius);
  border: 3px solid transparent;
  transition: all ease 0.3s;
  min-width: 30rem;
  width: 30rem;
}

.card:hover {
  border: 3px solid var(--color-bg-Secondary-brand);
}

.card > p {
  text-align: center;
  font-weight: 500;
}
