.chip {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border-radius: var(--font-size-borderRadius);
  background-color: var(--color-bg-btn);
  max-height: 4rem;
  white-space: nowrap;
  user-select: none;
  width: max-content;
}

.chip > p {
  font-size: var(--font-size-caption);
  font-weight: 600;
}
